<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="{{match.model.flag}}" width="80">
      <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
  </a>
</script>
<div class="container-fluid" ng-controller="MainCtrl">
    <div class="row" >
    <input type="text" ng-model="customSelected" placeholder="Type to get Wikipedia article" typeahead="address.name for address in getAutoComplete($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="customTemplate.html" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
</div>
   <p>
    <div class="row">
         
        <span class="btn-group pull-left">
         <button class="btn btn-primary btn-sm"  ng-hide="status.messagesAndPasswordsButtonsHidden" ng-click="collapseAll()">Messages & Notes</button>
         <button class="btn btn-primary btn-sm" ng-hide="status.messagesAndPasswordsButtonsHidden" ng-click="expandAll()">Password generation</button>
         </span>
        
      
        <span class="btn-group pull-right">
        
        
         <button class="btn btn-default btn-sm" ng-hide="status.collapseAllButtonHidden" ng-click="collapseAll()">Collapse all</button>
         <button class="btn btn-default btn-sm" ng-hide="status.expandAllButtonHidden"  ng-click="expandAll()" >Expand all</button>
        </span>
    
    </div> 
   </p> 
    <div class="row">
    <accordion close-others='false'>
    <accordion-group    is-open="group.isOpen" ng-repeat="group in groups">
       
        <accordion-heading>
            <span ng-click="headerClicked($index)"><i class="pull-left glyphicon" ng-class="{ 'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen }"></i>&nbsp{{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-remove': true}" ng-click="delete($index)"></i></span>
        </accordion-heading>
         <div ng-bind-html="group.content"/>
         
    </accordion-group>
    
    </accordion>
    </div> 
</div>

